.card {
  border: 1px solid $primary-color;
  border-radius: 0;
  & .card-header {
    padding: 5px;
    background-color: $primary-color;
    border-radius: 0;
  }
  & .btn-link {
    color: $secondary-color;
    text-decoration: none;
    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
}
.accordion {
  & .list-group {
    border-radius: 0;
    & .list-group-item {
      & span {
        border-left: 1px solid $primary-color;
      }
    }
  }
}

