$font-family-title: "Fjalla One", sans-serif;
$font-family: "Noto Sans", "Times New Roman", sans-serif;

$primary-color: #252525;
$secondary-color: #e2e2e2;
$link-color: #333333;
$link-hover-color: #616161;