/**
 * Import variables
 */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";

@import "variables";

/**
 * Import npm dependencies
 * see: https://en.parceljs.org/module_resolution.html
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
 * Import layouts
 * It's a best practice to use a partial for each page
 */

@import "layouts/home";
@import "layouts/noticia";

/**
 * Do NOT include anything else in this file!
 */

body {
    margin: 0;
    padding: 0px;
    font-family: $font-family;
    font-size: .9rem;
}
h1,h2,h3,h4,h5{
    font-family: $font-family-title;
}
nav {
    a{
        font-family: $font-family-title;
        font-size: 1.5rem;
        color: $link-color;
    }
    a:hover{
        text-decoration: none;
        color: $link-hover-color;
    }
    a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $link-hover-color;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        }
    a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .selected{
        color: lightgrey;
    }
}

footer{
    background-color: $primary-color;
    color: $secondary-color;
    font-size: .7rem;
    border-top: 5px solid $secondary-color;

    a{
        color: white;
    }
    a:hover{
        color: $link-hover-color;
    }
    i {
        font-size: 1.3rem;
        margin: 0 .6rem;
      }
}